<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Food List</h2>
        <a href="/add-food" class="btn btn-success mb-3">Add New Food</a>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a : ${food}">
                    <td th:text="${a.id}">ID</td>
                    <td th:text="${a.name}">Drink Name</td>
                    <td th:text="${a.price}">Price</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
